:root {
  --background: #F7F7F7;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #F7F7F7 !important;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dashboard-page-bg,
.screen-bg-f7,
.dashboard-content-area {
  background-color: #F7F7F7 !important;
}
